.main {
  width: 550px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 500;
  padding: 20px 0px 10px 0px;
}
.container.dark {
  background: #2d2c2d;
}
.container.light {
  background: #fff;
}

.dark h1 {
  color: #4daf54;
}
.light h1 {
  color: #f95f5f;
}
